# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.idea/
.vscode/

# Log files
*.log

# System files
.DS_Store
Thumbs.db